{% extends 'index.html' %}
{% load static %}

{% block title %}Purchase of Raw Materials{% endblock %}

{% block content %}
<div class="list-page">
    <div class="budget">
        <p>Budget: {{ budget.quantity }}</p>
    </div>
<div style="margin-top: 20px;" class="list-page">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;" class="flex-container">
        <h2>A list of Raw Sales</h2>
        <button onclick="location.href='{% url 'raw_sale:create' %}'" style="cursor: pointer;" class="btn btn-outline-primary">Create New Entry</button>
    </div>
    <table class="table table-striped"> <!-- Added 'table-striped' class for striped rows -->
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Raw Material</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Employees</th>
            </tr>
        </thead>
        <tbody>
            {% for raw_sal in raw_sale %}
                <tr>
                    <td>{{ raw_sal.id }}</td>
                    <td>{{ raw_sal.material }}</td>
                    <td>{{ raw_sal.quantity }}</td>
                    <td>{{ raw_sal.amount }}</td>
                    <td>{{ raw_sal.date }}</td>
                    <td>{{ raw_sal.employees }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
