
{% extends 'index.html' %}

{% block title %}Сырьё{% endblock %}

{% block content %}
  <div class="list-page">
    <div class="flex-container">
      <h2 >Change raw material</h2>
      <a href="{% url 'rawlist' %}"><button type="button" class="btn btn-outline-secondary">Back</button></a>
    </div>
    <form  method="post" action="{% url 'rawedit' pk=raw.pk %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </form>
  </div>
{% endblock %}
