
{% extends 'index.html' %}

{% block title %}Raw material{% endblock %}

{% block content %}
    <div class="list-page">
        <div class="flex-container">
            <h2 >Add raw material</h2>
            <a href="{% url 'rawlist' %}"><button type="button" class="btn btn-outline-secondary">Back</button></a>
        </div>
        <form method="post" action="{% url 'rawcreate' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary">Create</button>
        </form>
    </div>
{% endblock %}
