{% extends 'index.html' %}
{% load static %}
{% block title %}Add Ingredient{% endblock %}
{% block content %}
<style>
  .list-group-item-horizontal {
    display: flex;
    justify-content: space-between;
  }

  .list-custom-a {
    display: block;
  }

  .flex-container {
    display: flex;
  }

  .btn-container {
    margin-left: auto;
  }

  .btn-container a {
    margin-right: 10px; /* Adjust the margin as needed */
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var productSelect = document.getElementById('id_Product_id');
    var selectedProductId = '{{ form.instance.Product_id.id }}';

    if (selectedProductId) {
      var option = document.createElement("option");
      option.value = selectedProductId;
      option.text = '{{ form.instance.Product_id }}';
      productSelect.add(option);
      productSelect.value = selectedProductId;
    }

    productSelect.addEventListener('change', function () {
      // При изменении выбора, автоматически отправляем форму
      productSelect.form.submit();
    });
  });

  function confirmDelete() {
    return confirm("Are you sure you want to delete this ingredient?");
  }
</script>

<div class="list-page">
  <h2>A list of ingredients</h2>
  <form method="post" action="{% url 'ingredients_list' %}" class="form-inline mb-2">
    {% csrf_token %}
    <label for="id_Product_id" class="mr-2">Select a product:</label>
    {{ form.Product_id }}

    <div class="flex-container btn-container">
      <a href="{% url 'ingredients_create' %}?product_id={{ form.Product_id.value }}" class="btn btn-outline-primary">Add</a>
    </div>
  </form>
  <ul class="list-group">
    {% for ingredient in ingredients %}
    <li class="list-group-item list-group-item-horizontal">
      <div class="flex-container">
        <div>
          <!-- Убираем ссылку на ingredients_detail -->
          {{ ingredient.0 }} - {{ ingredient.1 }}
        </div>
        <div class="flex-container btn-container">
          <a href="{% url 'ingredients_edit' pk=ingredient.2 %}" class="btn btn-outline-primary">Change</a>
          <a href="{% url 'ingredients_delete' pk=ingredient.2 %}" class="btn btn-outline-danger" onclick="return confirmDelete()">Delete</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
