

{% extends 'index.html' %}

{% block title %}Ingredients{% endblock %}

{% block content %}
    <div class="list-page">
        <div class="flex-container">
            <h2>Change ingredient</h2>
            <a href="{% url 'ingredients_list' %}"><button type="button" class="btn btn-outline-secondary">Back</button></a>
        </div>
        <form  method="post" action="{% url 'ingredients_edit' pk=ingredients.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-secondary">Save</button>
        </form>
    </div>
{% endblock %}
