{% extends 'index.html' %}

{% block title %}Finished products{% endblock %}

{% block content %}
  <div class="list-page">
    <div class="flex-container">
      <h2 >Add Finished products</h2>
      <a href="{% url 'FProduct_list' %}"><button type="button" class="btn btn-outline-secondary">Back</button></a>
    </div>
    <form method="post" action="{% url 'FProduct_create' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-outline-primary">Create</button>
    </form>
  </div>
{% endblock %}